/*
Desktop: width 992px and above 
tablet: 768ps to 991px
mobile: 767 and less
*/
*{
    box-sizing: border-box;
    margin: 0;
  padding: 0%;
    
}


.title{
   position: absolute;  
   width: 20%;
   right: 0px;
   top: -0px;
   border: 1px solid green;
   margin: 0%;
   background-color: blueviolet;
   text-align: center;
   overflow: auto;
}
.menu{
  text-align: center;
}

.title-card{
    position: relative;
    padding-bottom: 5%;
    right: -10px;
    top: -10px;
   
   
}
.row{
  width: 100%;
  overflow: auto;
  padding: 20px;
  background-color: azure;
}


@media (min-width: 992px){
  
  .col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, .col-l-6, .col-l-7, .col-l-8, .col-l-9
  .col-l-10, .col-l-11, .col-l-12{
    float: left;
    border: solid black 1px;
    padding: 10px;
    margin: 10px;
    background-color: aquamarine;
  }
  
  .col-l-1{
    width: 8.33%
  }
  .col-l-2{
    width: 16.66%;
  }
  .col-l-3{
    width: 25%;
  }
  .col-l-4{
    width: calc(33.33% - 20px)
  }
  .col-l-5{
    width: 41.66%;
  }
  .col-l-6{
    width: 50%;
  }
  .col-l-7{
    width: 58.33%;
  }
  .col-l-8{
    width: 66.66%;
  }
  .col-l-9{
    width: 74.99%;
  }
  .col-l-10{
    width: 83.33%;
  }
  .col-l-11{
    width: 91.66%;
  }
  .col-l-12{
    width: 100%;
  }
}

/* tablet view*/

@media (min-width: 768px) and (max-width: 991px) {
    .col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9
    .col-m-10, .col-m-11, .col-m-12{
      float: left;
      border: solid black 1px;
      margin: 10px;
      padding: 10px;
      background-color: aquamarine;
    }
    
    .col-m-1{
      width: 8.33%
    }
    .col-m-2{
      width: 16.66%;
    }
    .col-m-3{
      width: 25%;
    }
    .col-m-4{
      width: 33.33%;
    }
    .col-m-5{
      width: 41.66%;
    }
    .col-m-6{
      width: calc(50% - 20px);
    }
    .col-m-7{
      width: 58.33%;
    }
    .col-m-8{
      width: 66.66%;
    }
    .col-m-9{
      width: 74.99%;
    }
    .col-m-10{
      width: 83.33%;
    }
    .col-m-11{
      width: 91.66%;
    }
    .col-m-12{
      width: calc(100% - 20px);
    }
  }
/**
-------------------- Mobile View _-----------------
*/

@media (max-width: 767px) {
    
    .col-s-12{
        float: left;
        margin: 10px;
        padding: 10px;
        width: calc(100% - 20px);
        border: solid black 1px;
        background-color: aquamarine;
    }
  }
